/*------------------------------------*\
    #Colors
\*------------------------------------*/

/* Fill Colors */

.fill-cirrusblue-light { background-color: $cirrusblue--lighter }
.fill-cirrusblue       { background-color: $cirrusblue }
.fill-cirrusblue-dark  { background-color: $cirrusblue--darker }

.fill-orange           { background-color: $orange }

.fill-light-gray       { background-color: $gray--lighter }
.fill-gray             { background-color: $gray }
.fill-dark-gray        { background-color: $gray--darker }

.fill-white            { background-color: $white }



/* Gradients */
.fill-cirrusblue--gradient {
    /* can be treated like a fallback */
    background-color: $cirrusblue--darker;

    /* will be "on top", if browser supports it */
    background-image: linear-gradient($cirrusblue--darker, $cirrusblue--lighter);

    /* these will reset other properties, like background-position, but it does know what you mean */
    background: $cirrusblue--darker;
    background-image: linear-gradient($cirrusblue--darker, $cirrusblue--lighter);
}



/* Text Colors */

.text-white      { color: $white }
.text-light-gray { color: $gray--lighter}
.text-gray       { color: $gray }
.text-dark-gray  { color: $gray--darker }

.text-orange     { color: $orange }
.text-cirrusblue { color: $cirrusblue }

//If using text-action on a link, make it over blue
a.text-orange:hover { color: $color-link }

.is-transparent { color: rgba(255,255,255,0.4) }